appdirs==1.4.3
beautifulsoup4==4.6.0
Django==1.11.1
django-bootstrap-datepicker==1.2.2
django-bootstrap-form==3.2.1
django-bootstrap3-datetimepicker==2.3
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
django-forms-bootstrap==3.1.0
django-hitcount==1.2.2
django-modelcluster==3.1
django-taggit==0.22.1
django-treebeard==4.1.0
djangorestframework==3.6.3
html5lib==0.999999999
olefile==0.44
packaging==16.8
Pillow==4.1.1
pyparsing==2.2.0
pytz==2017.2
requests==2.14.2
six==1.10.0
Unidecode==0.4.20
wagtail==1.10.1
webencodings==0.5.1
Willow==0.4
