beautifulsoup4==4.6.0
bleach==2.0.0
certifi==2017.4.17
chardet==3.0.4
Django==1.10.7
django-contrib-comments==1.8.0
django-crispy-forms==1.6.1
django-map-widgets==0.1.9
djangorestframework==3.6.3
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.6
html5lib==0.999999999
idna==2.5
Mezzanine==4.2.3
oauthlib==2.0.2
olefile==0.44
Pillow==4.1.1
psycopg2==2.7.1
pytz==2017.2
requests==2.17.3
requests-oauthlib==0.8.0
six==1.10.0
tzlocal==1.4
urllib3==1.21.1
webencodings==0.5.1
