appdirs==1.4.3
django-bootstrap-datepicker==1.4.0
django-bootstrap-form==3.4
django-bootstrap3-datetimepicker==3.2.6.0
django-crispy-forms==2.0
django-datetime-widget==0.9.3
django-forms-bootstrap==3.1.0
django-hitcount==1.3.5
django-modelcluster==6.0
django-taggit==4.0.0
django-treebeard==4.7

pyparsing==3.0.9

Unidecode==1.3.6
wagtail==5.0
Willow==1.5
