{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="promotion">
        <div class="container">
            <h1>{{ page.title }}</h1>

            <div class="intro">{{ page.intro|richtext }}</div>
        </div>
    </div>

    <div class="container">
        {% for event in events %}
            <div class="blog-ext col-xs-12 col-md-10">
                <div class="col-xs-12 col-md-8">
                    <a href="{{event.source}}" target="_blank">
                        <span class="item-date">{{event.date}}</span>
                    </a>

                    <!--p>{{event.address}} - {{event.source}}</p-->
                    <p>{{event.description|richtext}}</p>
                </div>
            </a></div>
        {% endfor %}


    </div>
    <div class="container">
        {% if events.has_other_pages %}
          <ul class="pagination">
            {% if events.has_previous %}
              <li><a href="?page={{ events.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in events.paginator.page_range %}
              {% if events.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if events.has_next %}
              <li><a href="?page={{ events.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

{% endblock %}