
.blogs {
    padding: 2px 2px;

}

.blog-ext {
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
    background-color: #FAFAFA;

    border-bottom: 1px solid #F0F0F0;
    border-radius: 5px;
}

.blog-ext:hover {
    background-color: #F0F0F0;
    box-shadow: 1px 1px 1px #F0F0F0;
}

.blog {
    padding: 1px 1px;


    /*padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;*/

}

.blog a:link {
    color: #7E7E7E;
}

.blog a:visited {
    color: #7E7E7E;
}

.blog-figure {
    float: left;
}

.block-content {
    margin-top: 15px;
}