#incident-filter {
    padding-top: 15px;
    background-color: whitesmoke;
}

.input-group {
    padding-bottom: 15px;
}

.incident {

    /*background: #fafafa;
    border-radius: 2px;*/
    border-bottom: 2px solid #f0f2f4;
    margin-bottom: 10px;
    padding: 10px 0px;

}

.incident .title {
    font-size: 1.1em;
    font-weight: 1000;
}

.incident .address {
    margin-left: 4px;
    color: #303;
}

.incident .date {
    margin-left: 4px;
    margin-right: 4px;
}

.info p {
    margin-top: 0.5em;
    color: #576366;
}


.casualties {
    text-align: center;
}

.casualties > h3 {
    font-size: 48px;
}

.casualties > h5 {
    font-size: 0.85em;
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  /*line-height: 34px;*/
  line-height: 1.42857143 !important;
}


.promotion p {
    font-size: 1.2em;
}

.tag-list {
    border-bottom: 2px solid #f0f2f4;
    margin: 15px 0px;
    padding-bottom: 15px;
}

.tags {
    margin: 15px 0px 0px;
}

@media (max-width: 767px) {
    .tags {
        margin: 15px 0px;
    }
}

@media (max-width: 1024px)
.container {
    width: 100%;
}

.tag {
    border-radius: 3px;
    margin: 2px;
    padding: 5px 5px;
    display: inline-block;
    font-size: 0.95em;
}

.tag-default {
    background-color: #F0F0F0;
}

.tag-selected, .tag:hover {
    background-color: #fcff81;
}

.tag-selected:hover {
    background-color: #fd4e4e;
}

.tag_count {
    font-size: 0.7em;
    border-radius: 10px;
    background-color: white;
    padding: 3px 5px;
    margin-left: 1px;
    margin-left: 3px;
    vertical-align: middle;
    /*min-width: 18px;
    display: inline-block;*/
}

.search-icon {
    font-size: 25px;
}

.btn-ok {
    background-color: rgb(0,0,0);
    color: #bbbbbb;
    transition-duration: 0.4s;
}

.btn-ok:hover {
  background-color: rgb(0,0,0, 0.8);
  color: #dddddd;
}

.btn-cancel {
    background-color: rgb(198, 61, 15);
    color: #bbbbbb;
    transition-duration: 0.4s;
}

.btn-cancel:hover {
  background-color: rgb(198, 61, 15, 0.8);
  color: #dddddd;
}