.listing th{
    white-space: nowrap;
}

.count-top {
    margin: 10px 0px 0px 0px;
}

.count-bottom {
    margin: 0px 0px 10px 0px;
}

.popover-content {
    word-wrap: break-word;
}

.table-striped {
    display: block;
    overflow-x: auto;
    /*overflow: scroll;*/
    white-space: nowrap;
    width: 100%;
}

.tag-mini {
    border-radius: 3px;
    margin: 2px;
    padding: 2px 2px;
    display: inline-block;
    font-size: 0.65em;
    background-color: #000000;
    color: #F0F0F0;
}
