/*
 * Globals
 */
 /* Sticky footer styles
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');*/
@import url('https://fonts.googleapis.com/css?family=Lato');


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}*/

body {
  /*font-family: "Source Sans Pro", "Times New Roman", Georgia, Times, serif;
  font-size: 1.15385rem;
  line-height: 1.5em;*/

  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: normal;
  /*color: #333;*/
}

/*h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 0.7em;
}*/

/**/

.navbar-brand {
    padding: 1px 1px;
}

.navbar {
    background-color: #c63d0f;
    color: #AAAAAA;
    margin-bottom: 0px;
}

/*.navbar-default >a:focus, .navbar-default> a:hover {
    color: #FFFFFF;
}*/
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #EEE;
    background-color: transparent;
}

.navbar-default {
  background-color: #c63d0f;
  border-color: #c63d0f;
}
.navbar-default .navbar-brand {
  color: #e0e0e0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a {
  color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e0e0e0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e0e0e0;
}
.navbar-default .navbar-link {
  color: #e0e0e0;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e0e0e0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
}


.promotion {
    background-color: #EEE;
    padding: 5px 0px 0px 0px;
}

.d-text {
    margin: 40px 0px;
}

.d-text.first {
    margin-top: 30px;
}

.d-text.last {
    margin-bottom: 50px;
}



/*#header {
    *//*background-image: url("../img/red_black_bg.png");
    background=repeat: repeat-x;*//*
}

#header2 {
    background-image: url("../img/mapNdots.svg");
}*/

#page-header {
    padding: 30px 0px;
    background: #000;
    color: #bbbbbb;
}

/* try to restrict highlight to the blocks or header*/
.highlight {
    color: #000000;
    font-weight: bold;
}

.outer-block {
    color: #dddddd;
    background-color: #c63d0f;
}

.block {
    padding-top: 150px;
    padding-bottom: 10px;
    background-image: url(/static/img/cm_map_dots.png);
    background-repeat: no-repeat;
    background-position: calc(100%) calc(100% + 245px);
}

@media screen and (max-width: 768px) { /* Specific to this particular image */
  .block {
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: url(/static/img/cm_map_dots.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 200px) calc(100% + 245px);
  }
}

.outer-block-alt {
    color: #bbbbbb;
    background-color: #000000;
}

.block-alt {
    color: #bbbbbb;
    padding-top: 10px;
    padding-bottom: 100px;
    background-image: url(/static/img/cm_map_dots_alt.png);
    background-repeat: no-repeat;
    background-position: calc(100%) calc(0% - 255px)
}

@media screen and (max-width: 768px) { /* Specific to this particular image */
  .block-alt {
    color: #bbbbbb;
    padding-top: 10px;
    padding-bottom: 100px;
    background-image: url(/static/img/cm_map_dots_alt.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 200px) calc(0% - 255px)
  }
}

.promotion {
    color: #bbbbbb;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #000;
}


.footer {
  position: absolute;
  bottom: -1.5em;
  width: 100%;
  margin-top: 5px;
  padding: 35px 0px;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #000;
  color: #E7E7E7 !important;
}

/*footer {
    background-color: #000;
    color: #E7E7E7 !important;
    padding: 32px 10px 150px 32px;
    position: relative;
    clear: both;

}
*/

#map {
    height: 300px;
    width: 100%;
    fillColor: '#2687bf';
    fillOpacity: .3;
    strokeWeight: 0;
}

#gmap {
    height: 300px;
    width: 100%;
    fillColor: '#2687bf';
    fillOpacity: .3;
    strokeWeight: 0;
}

.footer h4 {
    color: #E7E7E7;
}

footer a:link {
    color: #7E7E7E;
}

footer a:visited {
    color: #7E7E7E;
}


.btn-regular {
  color: #ffffff;
  background-color: #000000;
  border-color: #FFFFFF;
}

.btn-regular:hover,
.btn-regular:focus,
.btn-regular:active,
.btn-regular.active,
.open .dropdown-toggle.btn-regular {
  color: #ffffff;
  background-color: #CCCCCC;
  border-color: #FFFFFF;
}

.btn-regular:active,
.btn-regular.active,
.open .dropdown-toggle.btn-regular {
  background-image: none;
}

.btn-regular.disabled,
.btn-regular[disabled],
fieldset[disabled] .btn-regular,
.btn-regular.disabled:hover,
.btn-regular[disabled]:hover,
fieldset[disabled] .btn-regular:hover,
.btn-regular.disabled:focus,
.btn-regular[disabled]:focus,
fieldset[disabled] .btn-regular:focus,
.btn-regular.disabled:active,
.btn-regular[disabled]:active,
fieldset[disabled] .btn-regular:active,
.btn-regular.disabled.active,
.btn-regular[disabled].active,
fieldset[disabled] .btn-regular.active {
  background-color: #000000;
  border-color: #FFFFFF;
}

.btn-regular .badge {
  color: #000000;
  background-color: #ffffff;
}

.promotion span {
    white-space: nowrap;
}

.promotion .add_item {
    float: right;
}

.promotion .add_item a:link, a:visited {
    color: #F49777;
    border-bottom: 3px solid #F49777;
}

.promotion .add_item a:hover {
    text-decoration: none;
    border-bottom: 3px solid #e0e0e0;
}


.submission-form {
    /*margin: 0px 0px 50px 0px;*/
    padding-bottom: 10px;
    /*background-color: #F0F0F0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;*/
    margin-bottom: 10px;
    margin-top: 10px;
}

.sub-section {
    margin-top: 30px;
}

.copyright {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Lato', 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

thead th.asc a:after {
    content: url('../img/icons/icon-th-ascending.png');
}
thead th.dsc a:after {
    content: url('../img/icons/icon-th-descending.png');
}
