.search-box{
    margin-top: 15px;
    margin-bottom: 20px;
}

.thesis-block{
    padding: 20px 0px 25px;
    border-bottom: 2px solid #f0f2f4;
    font-size: 11pt;
    line-height: 1.5em;
}

.thesis-content{
    /*border-bottom: 2px solid #f0f2f4;*/
}

.thesis-block img{
  width: 100%;
  height: auto;
}

.thesis-author {
    /*font-size: 16px;*/
    color: #000
}

.thesis-supervisor {
    color: #000
}

.thesis-committee {
    color: #000
}

.thesis-block .logo {
    margin-right:1px;
    width: 60px;
    float: left;
}


.thesis-title {
    padding-bottom: 10px;
    /*font-size: 1.5em;
    font-weight: 500;*/
    font-weight: 600;
    font-family: 'Lato', 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.thesis-date {
    font-size: 0.7em;
    color: #565656;
}

.thesis-link{
    padding-bottom: 20px;
}

.thesis-abstract{
    padding-top: 15px;
}

.abstract-header{
    font-family: 'Lato', 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /*font-size: 1.2em;*/
    font-weight: 600;
}

p.thesis-abstract {
    font-size: 0.85em;
}

/*@media (min-width: 767px) {
    .facet {
        padding-left: 100px;
    }
}*/

.facet .item {
    /*padding : 5px 15px;*/
    margin-bottom: 50px;
    border: 1px solid #f0f2f4;

}


.facet .facet-header {
    /*padding-bottom: 3px;*/
    maring: 5px;
    font-family: 'Lato', 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.05em;
    font-weight: 600;
    height: 50px;
    background: #eee;
    border-bottom: 1px solid #c63d0f33;
    display : flex;
    align-items : center;

}

.facet-header .text, .facet-body {
    padding: 5px 15px;
}

.facet-hear .text {
    color: #4e4d4d;
}