{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load blog_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="promotion">
        <div class="container">
            <h1>{{ page.title }}</h1>

            <div class="intro">{{ page.intro|richtext }}</div>
        </div>
    </div>

    <div class="container">

        <div class="blogs col-md-9">
        {% for post in blogpages %}

            <div class="row blog-ext">
                {% with post=post.specific %}
                <div class="blog">

                    <div class="blog-figure col-xs-12 col-md-3">
                        {% with post.main_image as main_image %}
                            {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>

                        <p>{{ post.intro }}</p>
                        {%comment%}
                        <h5>{{post.date| date:"jS F Y H:i"}} {{post.hits}} views</h5>
                        {%endcomment%}
                        <h5>{{post.date|age}} {{post.hits}} views</h5>

                        {% comment %}
                        {{ post.body|richtext }}
                        <hr/>
                        {% endcomment %}
                    </div>
                </div>
                {% endwith %}

            </div>
        {% endfor %}
        </div>
        <div class="col-md-3">
            {%comment%}
            <div class="row">categories</div>
            <div class="row">labels</div>
            {%endcomment%}
        </div>


    </div>

{% endblock %}