{% extends "base.html" %}

{%load static%}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/khistory.css' %}">
{% endblock %}
{% block content %}

<div ng-app="khistoryApp">
    {% csrf_token %}
    <ng-view></ng-view>
</div>

{% endblock %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script src="{% static 'js/khistory.js' %}"></script>
{% endblock %}