{% extends "base.html" %}

{%load static%}
{% load spurl %}
{% load humanize %}

{% block title %}
    Katika:Tender Marchés Publics
{% endblock %}

{%block meta_description%}
    <meta name="description" content="Marchés Publics extraits du site de l'Agence de Regulation des Marchés Publics. Cameroon Public Tender">
{%endblock%}

{%block meta_keywords%}
    <meta name="keywords" content="Marchés Publics, Public Tender">
{%endblock%}



{% block content %}
    <section id="page-header">
        <div class="container">
            <span class="sub-menu"><a href="/tender/">Tenders</a></span>
            <span class="sub-menu"><a href="/tender/contracts/">Contracts</a></span>
            <span class="sub-menu"><a href="/tender/contribuables/">Contribuables</a></span>

            <p>Mirror of official
                <a href="https://armp.cm">ARMP</a> and
                <a href="http://fiscalis.dgi.cm/modules/immatriculation/Consultation/listecontribuable.aspx">DGI</a> but much better.
                Follow our Bot on Twitter with filtered publication
                <a href="https://twitter.com/tender237" target="_blank"><i class="fa fa-twitter"></i>tender237</a>
        </div>
    </section>
    <div class="container search-box">
        <div class="row">
            <div class="col-xs-10 col-md-8">
                <form id="mySearch" class="input-group" action="/tender/wbcontracts/" method="get">
                  <input id="q" type="search" class="form-control" value="{{q}}" placeholder="Search for..."
                         required="required"
                    name="q">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </form><!-- /input-group -->
            </div>
        </div>
    </div>
    <div class="container">

            <div class="row"></div>
            <div class="btn-group" role="group">

                <a type="button" class="btn btn-primary" href="{% spurl base=request.get_full_path toggle_query="sort=-date,date"%}">
                    sort by date
                </a>
                <a type="button" class="btn btn-primary" href="{% spurl base=request.get_full_path toggle_query="sort=cost,-cost"%}">
                    sort by cost
                </a>

                <div class="btn-group" role="group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by Type
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="{% spurl base=request.get_full_path toggle_query="type=0,"%}">VIABLE</a></li>
                        <li><a href="{% spurl base=request.get_full_path toggle_query="type=1,"%}">INFRUCTUEUX</a></li>
                        <li><a href="{% spurl base=request.get_full_path toggle_query="type=2,"%}">ANNULE</a></li>
                        <li><a href="{% spurl base=request.get_full_path toggle_query="type=5,"%}">RESILIE</a></li>
                      </ul>
                </div>


            </div>
            {% comment %}
            <div>
                <select id="selectpicker" class="selectpicker" data-live-search="true"></select>
            </div>
            {% endcomment %}

    </div>

    </div>
    <div class="container">
        <div class="col-md-9 col-xs-12">

            <div class="row total">Total
                <span class="result-count">{{page_obj.paginator.count}}</span>
                entries found</div>


            {% for tender in object_list %}
            <div class="tender-entry">
                <div class="row">
                    <span class="date">{{tender.date|date:"M d, Y"}}</span>

                    <a class="owner">
                        {{tender.project.project_id}}:{{tender.contract_id}}
                    </a>

                    {% if tender.cost %}
                    <span title="{{tender.cost}}" class="cost">
                      USD {{tender.cost|intcomma}}
                    </span>
                    {% endif %}
                    {% if tender.reference %}
                    <span class="region">
                        {{tender.reference}}
                    </span>
                    {% endif %}
                </div>
                <div class="row title">
                    {{tender.description|truncatechars:1000}}
                </div>
                
                {% if tender.is_scanned %}
                <div class="row">
                  {% for supplier in tender.suppliers.all %}
                    <span>{{supplier.supplier_id}}: {{supplier.name}} </span>
                  {% endfor %}
                  {%if tender.niu_count == 0%}<span class="niu_annotation niu_missing">MISSING</span>{% endif %}
                  {%if tender.niu_count > 1%}<span class="niu_annotation niu_multiple">MULTIPLE</span>{% endif %}
                  {%if tender.is_active == False%}<span class="niu_annotation niu_inactive">INACTIF</span>{% endif %}
                  {%if tender.from_registration <=  12%}<span class="niu_annotation niu_reg_duration">{{tender.from_registration}}months</span>{% endif %}
                </div>
                {% endif %}

            </div>
            {% endfor %}


        <br/>
        {% if is_paginated %}
          {% if page_obj.has_previous %}
            <a href="{% spurl base=request.get_full_path set_query="page=1"%}">First</a>
            {% if page_obj.previous_page_number != 1 %}
              <a href="{% spurl base=request.get_full_path set_query="page={{page_obj.previous_page_number}}"%}">Previous</a>
            {% endif %}
          {% endif %}

          Page {{ page_obj.number }} of {{ paginator.num_pages }}

          {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
              <a href="{% spurl base=request.get_full_path set_query="page={{page_obj.next_page_number}}"%}">Next</a>
            {% endif %}
            <a href="{% spurl base=request.get_full_path set_query="page={{paginator.num_pages}}"%}">Last</a>
          {% endif %}

        {% endif %}
        </div>


        <div class="col-md-3 col-xs-12 facet">
            <div class="item">
                <div class="facet-header"><span class="text">Top Projects</span></div>
                <div class="facet-body">
                {% for project in projects|slice:o_length %}
                <div class="line">
                    <a href="{% spurl base=request.get_full_path toggle_query="p={{project.project_id|urlencode}},"%}">
                        {{project.project_id}} <span class="count">{{project.total}}</span>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="item">
                <div class="facet-header"><span class="text">Project Status</span></div>
                <div class="facet-body">


                {% for status in statuses|slice:"10" %}
                    <div class="line">

                        <a href="{% spurl base=request.get_full_path toggle_query="s={{status.status|urlencode}},"%}">
                                {{status.name}} <span class="count">{{status.total}}</span>
                        </a>


                    </div>
                {% endfor %}
                </div>


                </div>
            </div>

    </div>


    <br/>
    <br/>


{% endblock %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tender.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
{% endblock %}