{% extends "base.html" %}

{% load static wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{%comment%}
<!--link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"-->
{%endcomment%}

<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

{%comment%}{% load bootstrap %}{%endcomment%}
{% load crispy_forms_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="promotion">
        <div class="container">
            <h1>{{ page.title }}</h1>

            <div class="intro">{{ page.intro|richtext }}</div>
        </div>
    </div>

    <div class="container">
        <!--div class="submission-form"-->
            <form method="POST" action="" role="form" class="submission-form">
                <div class="col-xs-9 col-md-9">
                {% csrf_token %}
                {%comment%}{{ form|bootstrap }}{%endcomment%}
                    <div class="form-actions">
                    {{form|crispy}}
                        {%comment%}{{ form.as_p}}{%endcomment%}
                        <input class="btn btn-lg btn-regular" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        <!--/div-->
    </div>

{% endblock %}
<!--script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script-->