{% extends "base.html" %}

{%load static%}
{% load spurl %}

{% block title %}
    {% if selected_author %}
{{selected_author.last_name}} {{selected_author.first_name}}
    {% elif selected_university %}
{{selected_university.name}}
    {% else %}
        Prisoners in Cameroon | Katika
    {% endif %}
{% endblock %}

{%block meta_description%}
<meta name="description" content="Prisoners in Cameroon">
{%endblock%}
{%block meta_keywords%}
<meta name="keywords" content="Cameroon, Katika, Prisoners, Cameroon">
{%endblock%}


{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

<link rel="stylesheet" type="text/css" href="{% static 'css/jailed.css' %}">


{% endblock %}
{% block content %}
<script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
</script>

<section class="promotion">
    <div class="container">
        <div class="row">
            <div>
                <div><h2>Prisoners in Cameroon
                    {%if user.is_authenticated%}

                            <span class="add_item"><a href="/jailed/add">REPORT CASE</a></span>

                    {%endif%}
                </h2>
                    <p>Please follow our Bot on Twitter with birthday announcements...
                    <a href="https://twitter.com/katika_237" target="_blank"><i class="fa fa-twitter"></i>katika_237</a>
                </p>
                </div>

            </div>
            <div>
                <form id="mySearch" class="input-group" action="/jailed" method="get">
                  <input id="q" type="search" class="form-control" value="{{q}}" placeholder="Search for ..."
                    name="q" required="required">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </form><!-- /input-group -->
            </div>
        </div>
        <div class="row">
                <span><a href="{% spurl base=request.get_full_path toggle_query="pretrial=true,false" %}">Pre-trial</a> | </span>
                <span><a href="{% spurl base=request.get_full_path toggle_query="deceased=true,false" %}">Deceased</a> | </span>
                <span><a href="{% spurl base=request.get_full_path toggle_query="female=true,false" %}">Women</a> | </span>
                {% comment %}
                    <span><a href="/jailed?overstaying=true">Overstaying</a> |</span>
                {% endcomment %}
                <span><a href="{% spurl base=request.get_full_path toggle_query="detained=true,false" %}">Detained</a> |</span>
                <span><a href="{% spurl base=request.get_full_path toggle_query="released=true,false" %}">Released</a> |</span>
                <span><a href="/jailed">Reset</a></span>
        </div>
    </div>
</section>


<div class="container">
    <div class="row count-top">
        {{paginator.count}} records for {{paginator.num_pages}} page(s)
    </div>
    <div class="row listing">
        <div class="col-xs-12 col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="{{s.last_name}}">
                            <a href="{% spurl base=request.get_full_path set_query="o=last_name" toggle_query="s=asc,dsc"%}">Name</a>
                        </th>

                        <th scope="col" class="{{s.arrest}}">
                            <a href="{% spurl base=request.get_full_path set_query="o=arrest" toggle_query="s=asc,dsc"%}">Arrest</a>
                        </th>
                        <th scope="col" class="{{s.incarceration}}">
                            <a href="{% spurl base=request.get_full_path set_query="o=incarceration" toggle_query="s=asc,dsc"%}">Incarceration</a>
                        </th>
                        <th scope="col" class="{{s.conviction}}">
                            <a href="{% spurl base=request.get_full_path set_query="o=conviction" toggle_query="s=asc,dsc"%}">Conviction</a>
                        </th>
                        <th scope="col" class="{{s.release}}">
                            <a href="{% spurl base=request.get_full_path set_query="o=release" toggle_query="s=asc,dsc"%}">Release</a>
                        </th>
                        <th scope="col" class="{{s.prison}}">
                            <a href="{% spurl base=request.get_full_path set_query="o=prison" toggle_query="s=asc,dsc"%}">Prison</a>
                        </th>
                        <th scope="col" >
                            Judges
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for prisoner in jailed %}
                    <tr>
                        <th scope="row" href="#" data-toggle="popover" title="More info" data-trigger="focus"
                            tabindex="0" data-content="{{prisoner.more_info}}">
                            {{prisoner}}
                        </th>
                        <td>{{prisoner.arrest_date|default:""}}</td>
                        <td>{{prisoner.incarceration_date|default:""}}</td>
                        <td>{{prisoner.conviction_date|default:""}}</td>
                        <td>{{prisoner.release_date|default:""}}</td>
                        <td>{{prisoner.prison|default:""}}</td>
                        <td>{% for j in prisoner.judges.all %}
                            <a href="?j={{j.pk}}">{{j}}</a>
                            {% endfor %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2 tags">

            <h4><i class="glyphicon glyphicon-tag"></i> Tags</h4>

            {% for tag in tags %}
            <script>
                console.log("{{tag.name}}:{{tag.count}}")
            </script>

                {% if s_tag == tag.name %}
                    <span class="tag tag-selected">
                {% else %}
                    <span class="tag tag-default">
                {% endif %}
                    <a href="{% spurl base=request.get_full_path set_query="o=release" toggle_query="tag={{tag.name}},"%}">
                        {{tag.name}}<span class="tag_count">{{tag.count}}</span>
                    </a>
                </span>

            {% endfor %}

        </div>
    </div>
    <div class="row">
        <ul class="pagination">
            {% if jailed.previous_page_number > 1 %}
            <li>
                <a href="?page=1&q={{q}}&o={{curr.o}}&s={{curr.s}}&tag={{s_tag}}">First</a>
            </li>
            {% endif %}
            {% if jailed.has_previous %}
            <li>
                <a href="?page={{jailed.previous_page_number}}&q={{q}}&o={{curr.o}}&s={{curr.s}}&{{selection}}&tag={{s_tag}}">&laquo;</a>
                {% else %}
            <li class="disabled">
                <a>&laquo;</a>
                {% endif %}
            </li>
            <li>
                <a>{{jailed.number}}</a>
            </li>

            {% if jailed.has_next %}
            <li>
                <a href="?page={{jailed.next_page_number}}&q={{q}}&o={{curr.o}}&s={{curr.s}}&{{selection}}&tag={{s_tag}}">&raquo;</a>
            </li>
            {% else %}
            <li class="disabled">
                <a>&raquo;</a>
            </li>
            {% endif %}
            {% if jailed.next_page_number < paginator.num_pages %}
            <li>
                <a href="?page={{paginator.num_pages}}&q={{q}}&o={{curr.o}}&s={{curr.s}}&{{selection}}&tag={{s_tag}}">Last</a>
            </li>
            {% endif %}

        </ul>
    </div>
    <div class="row count-bottom">
        {{paginator.count}} records for {{paginator.num_pages}} page(s)
    </div>
    <br />
</div>
{% endblock %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
{% endblock %}