{% extends "base.html" %}

{% load static %}

{%block title%}
    Katika | Report Incident
{%endblock%}

{%comment%}
https://blog.bixly.com/awesome-forms-django-crispy-forms
{%endcomment%}

{% load crispy_forms_tags %}
{% crispy form %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/incident.css' %}">
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/ol.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<!--https://stackoverflow.com/questions/27306180/how-to-use-geodjango-pointfield-in-form-->
{% endblock %}

{% block extra_js_in_head %}
    {# Override this in templates to add extra js in header #}
    {{ form.media }}
{% endblock %}


{% block content %}

    <div class="container">
            <form method="POST" action="" role="form" class="submission-form uniForm">
                {% csrf_token %}
                <input class="btn btn-lg btn-regular" type="submit" value="Submit">
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.type|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.source|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9 mb-0">
                        {{ form.description|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.tags|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        {{ form.deaths|as_crispy_field}}
                        {{ form.deaths_security_forces|as_crispy_field}}
                        {{ form.deaths_perpetrator|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{ form.wounded|as_crispy_field}}
                        {{ form.wounded_security_forces|as_crispy_field}}
                        {{ form.wounded_perpetrator|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{ form.missing|as_crispy_field}}
                        {{ form.missing_security_forces|as_crispy_field}}
                        {{ form.missing_perpetrator|as_crispy_field}}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    {{form.location|as_crispy_field}}

                </div>
                <input class="btn btn-lg btn-regular" type="submit" value="Submit">
            </form>
    </div>


{% endblock %}


{% block extra_js %}
	<script type="application/javascript">
		var django = {
			"jQuery": jQuery.noConflict(true)
		};
		var jQuery = django.jQuery;
		var $=jQuery;
	</script>
	<script type="text/javascript" src="{% static 'js/ol.js' %}"></script>
	<!--script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script-->
{% endblock %}