{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="promotion">
        <div class="container">
            <h1>{{ page.title }}
                <a href="submit-incident"><button class="btn btn-regular">Report New</button></a>
            </h1>

            <div class="intro">{{ page.intro|richtext }}</div>
        </div>
    </div>

    <div class="container">
        {% for incident in incidents %}
            <div class="blog-ext col-xs-12 col-md-10">
                <div class="col-xs-12 col-md-8">
                    <a href="{{incident.source}}" target="_blank">
                        <span class="item-title">{{incident.type}}</span>,
                        <span class="item-date">{{incident.date}}</span>
                    </a>

                    <!--p>{{incident.address}} - {{incident.source}}</p-->
                    <p>{{incident.description|richtext}}</p>
                </div>
                <div class="col-xs-6 col-md-1 casualties wounded">
                    <h5>Wounded</h5>
                    {% if incident.wounded %}
                        <h3>{{incident.wounded}}</h3>
                    {% else%}
                        &nbsp;
                    {% endif%}

                </div>
                <div class="col-xs-6 col-md-1 casualties deaths">
                    <h5>Deaths</h5>
                    {% if incident.deaths %}
                        <h3>{{incident.deaths}}</h3>
                    {% else%}
                        &nbsp;
                    {% endif%}

                </div>
            </a></div>
        {% endfor %}


    </div>
    <div class="container">
        {% if incidents.has_other_pages %}
          <ul class="pagination">
            {% if incidents.has_previous %}
              <li><a href="?page={{ incidents.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in incidents.paginator.page_range %}
              {% if incidents.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if incidents.has_next %}
              <li><a href="?page={{ incidents.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

{% endblock %}
