{% extends "base.html" %}

{%load static%}

{% block content %}

    <div class="promotion">
        <div class="container">
            <h1>Katika Explained</h1>
        </div>
    </div>

    <div class="container">
      <div class="col-md-9">

        <div class="d-text first">
            <h2>Why</h2>
            <p>
            As time goes by, Cameroon is consistently regressing by almost all indicators:
                Education, Health, Economy, Social cohesion...
            Hopefully, there is a consensus among Cameroonians that we do have the competences
                required for the challenge but "poor governance" is standing our way.
            </p>
            <p>We have hoped for many years that the same system that has got us where
                we are would self-heal. Unfortunately the situation is getting worst and we,
                citizen, have got to stand up and build a safety net that will keep our
                Country together. Our country needs us more than ever.
            </p>
            <p>Our country needs each and everyone us that can contribute in any ways
                positive way as possible. You're welcome to contribute to this project or
                other projects that will help our nation.
            </p>
            <p>You're welcome to start your other projects that will enable more citizens
                to stand up and contribute to our common cause
            </p>
        </div>
        <div class="d-text">
            <h2>How</h2>
            <p>Most Cameroonians agree "poor governance" and corruption are a direct cause
                to our country mediocre performance. How does a mediocre system make progress
                if it can't evaluate itself?
            </p>
            <p>We keep making laws and taking decisions without tangible data to support them.
                Spreadsheets full of numbers and obscure financial jargon don't help educate and
                mobilize citizens. One of Katika major goals is therefore to show statistics and
                numbers in easily digestible formats - Infographics. Besides, Katika will start
                dedicated projects and deep-dive in specific topics of interest.
                Why is that a country as rich as Cameroon suffers from poverty and the vast majory
                of the population lacks water, light and ..?
            </p>
        </div>
        <div class="d-text last">
            <h2>Etymology</h2>
            <p>In Cameroon, Katika is usually someone who keeps the money in a gaming institution.
                It could have a pejorative connotation but a "Katika" often represents a moral
                figure that keeps things checked. Our intent is top help in making sure we
                know where every penny of our taxpayer is actually used for.
            </p>
            <p>Last but not least, our logo comes from
                <a href="https://en.wikipedia.org/wiki/Bamum_script">Bamun scripts "Ka", "Ti", "Ka"</a>.
                We might not know exactly what they mean (yet) but we sure wanted to get some inspiration
                from our own roots.
            </p>
        </div>
      </div>

    </div> <!-- /container -->


{% endblock %}
{% block extra_js %}

{% endblock %}
