{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="jumbotron sub-section">
            <h1>Ooooooooops :'|</h1>

            {% block error_message %}
            {% endblock %}

            <hr class="my-4">

            <h4>Please contact site admin (tassingremi<span class="glyphicon glyphicon-envelope"></span>gmail.com,
                or <a href="https://twitter.com/tassingremi" target="_blank">@tassingremi)</a></h4>

        </div>
        
    </div>
    

{% endblock %}