{%load static%}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {%comment%}
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
            {%endcomment%}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/katika.css' %}">

        <!--<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">-->
        <!--<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">-->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_js_in_head %}
            {# Override this in templates to add extra js in header #}
        {% endblock %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

        <nav class="navbar navbar-default navbar-static-top">
            <a class="navbar-brand" href="/">
                  <img src="{% static 'img/katika-one-logo.png' %}" height="48" width="48">
              </a>
          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  {% comment %}
                  <li class="active"><a href="/blog">HOME</a></li>
                  {% endcomment %}
                <li><a href="/">HOME</a></li>

                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      PROJECTS <span class="caret"></span>
                  </a>


                    <ul class="dropdown-menu">
                    <li><a href="/incident/">Incidents</a></li>
                    <li><a href="/kthesis/">Theses</a></li>
                    <li><a href="/khistory">Kamerun History</a></li>
                    {%comment%}
                        <li><a href="#">Register NGOs...</a></li>
                        <li><a href="#">Eseka case</a></li>
                        <!--
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        -->
                        <li><a href="#">Titre Foncier</a></li>

                    <li><a href="#">Others...</a></li>
                    {%endcomment%}
                  </ul>

                </li>
                  <li><a href="/blog">BLOG</a></li>

                <li>
                    <a>DATA <span style="opacity:.7">(upcoming)</span></a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">ABOUT</a></li>
                <!--
                <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Contact</a></li>
                -->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>


        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="col-xs-6 col-md-4">
                    <img src="{% static 'img/katika-one-logo.png' %}" width="100" height="100">
                </div>
                <div class="col-xs-6 col-md-3">
                    <h4>Recommended</h4>
                    <p><a href="https://mpodol.com" target="_blank">
                        mpodol.com
                        {%comment%}
                        <img src="{% static 'img/mpodol.png' %}">
                        {%endcomment%}
                    </a></p>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h4>Partners</h4>
                    {%comment%}
                    <a href="https://www.facebook.com/StandUp4Cameroon/" target="_blank">#JeSuisDocta</a>
                    <a href="https://www.facebook.com/StandUp4Cameroon/" target="_blank">#StandUpForCameroon</a>
                    <a href=""></a>
                    {%endcomment%}
                </div>
            </div>
        </footer>

         <!--footer class="footer">
          <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
          </div>
        </footer-->

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <!--<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>-->
        <script type="text/javascript" src="{% static 'js/angular.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/katika.js' %}"></script>


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
