{% extends "base.html" %}

{%load static%}

{% block content %}

    <div class="promotion">
        <div class="container">

            <h1>Katika</h1>

            <div class="intro">Fullfilling our citizenship duty</div>
        </div>
    </div>
    <div class="container">
    	<div class="col-md-6 col-xs-12">Blog and infographics</div>
    	<div class="col-md-6 col-xs-12">Register Incidents/Crimes</div>
    	<div class="col-md-6 col-xs-12">Register NGOs and helpful organizations</div>
    	<div class="col-md-6 col-xs-12">More dedicated projects to come</div>
    </div>


{% endblock %}
{% block extra_js %}

{% endblock %}
