{% extends "base.html" %}

{%load static%}

{%block title%}
    Katika | Katika237
{%endblock%}

{%block meta_description%}
    <meta name="description" content="Data Visualization, Data Project and Infographics for waking
    consciences in Cameroon. Increase Transparency and fighting Corruption">
{%endblock%}
{%block meta_keywords%}
    <meta name="keywords" content="Cameroon, Katika, Corruption, Data, Transparency,
    Visualization, Cameroun">
{%endblock%}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

    <section id="header">
        <!--<div id="header2">-->

            <div class="outer-block">
                <div class="block">
                    <div class="container">
                        <h2>Corruption <span class="highlight">KILLS</span> and it's our citizen's</h2>
                        <h2>duty to help connect the dots</h2>
                    </div>
                </div>
            </div>

            <div class="outer-block-alt">
                <div class="block-alt">
                    <div class="container">
                    <h2>C'est notre devoir citoyen de lutter contre</h2>
                    <h2>la malgouvernance en l'exposant</h2>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </section>
    <section id="projects">

        <div class="project-item project">
            <div class="container">
                <h3><a href="/covid19/">Covid-19 in Cameroon</a></h3><br>
                <h4>Mask Producers, Initiaves, Fund Raising Campaigns</h4>
                <p>Attempt to aggregate uncoordinated and scattered efforts</p>
            </div>
        </div>

        <div class="project-item project-alt">
            <div class="container">
                <h3><a href="/incident">Incident Visualization</a></h3><br>
                <h4>Keeping track of <strong>recurring</strong> incidents</h4>
                <p>We want to answer questions such as "how many were injured in road accidents last month?"</p>
                <p>Or "what are the fire incidents during the current year"</p>
            </div>
        </div>
        <div class="project-item project">
            <div class="container">
                <h3><a href="/khistory">Kamerun History</a></h3><br>
                <h4>Interactive history Project</h4>
                <p>Go back and forth throughout our history</p>
            </div>
        </div>
        <div class="project-item project-alt">
            <div class="container">
                <h3><a href="/blog">Blog and Infographics</a></h3><br>
                <h4>Distilled data through succinct <strong>visualization</strong></h4>
                <p>We want to make our point through visually appealing infographics and less boring and lengthy text</p>
            </div>
        </div>
        <div class="project-item">
            <div class="container">
                <h3><a href="/kthesis">Kamerun Thesis Database</a></h3><br>
                <h4>Taking our <strong>academic</strong> achievements seriously</h4>
                <p>As we got an increase of universities and scholars, it's imperative to nurture and reuse the hard work</p>
            </div>
        </div>
        <div class="project-item project-alt">
            <div class="container">
                <h3>Eseka Catastrophe (Upcoming)</h3><br>
                <h4>We cannot keep waiting for <strong>official reports</strong></h4>
                <p>This upcoming project will collect and display data from various sources in order to shed light</p>
                <p>on one of the most devastating catastrophes of Kamerun's history</p>
            </div>
        </div>
        <div class="project-item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 featured">
                        <h3><a href="/about"></a>About us</h3>
                        Check out our <a href="/about">About page</a> to see reasoning behind Katika and
                        where this name comes from ;-)
                    </div>
                    <div class="col-xs-12 col-md-4 featured">
                        <h3>Contributions wanted</h3>
                        Lots of our data is crowdsourced and we are especially looking for volunteer
                        journalists, scholars, historians and software developers
                    </div>
                    <div class="col-xs-12 col-md-4 featured">
                        <h3>Feedback</h3>
                        <p>Feel free to reach to me
                            <a href="https://twitter.com/tassingremi" target="_blank">@tassingremi</a>
                         or by mail with <i>tassingremi</i> at gmail.
                        </p>
                        {% comment %}
                        <p>
                            Preferably post your comments and feedback on the
                            <a href="https://mpodol.com" target="_blank">mpodol.com</a> forum.
                             It's an amazing discussion platform launched solely for Cameroonians (topics)
                        </p>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block extra_js %}

<script type="text/javascript">
    //https://coderwall.com/p/u3z_kq/facebook-appending-_-_-to-urls-after-authentication
    if (window.location.hash == '#_=_') {
        window.location.hash = ''; // for older browsers, leaves a # behind
        history.pushState('', document.title, window.location.pathname); // nice and clean
        e.preventDefault(); // no page reload
    }
</script>

{% endblock %}
