{% extends "base.html" %}

{%load static%}

{% block content %}

    <section id="header">
        <!--<div id="header2">-->

            <div class="block">
                <div class="container">

                    <h1>Corruption <span class="highlight">KILLS</span> and it's our citizen's</h1>
                <h1>duty to help connect the dots</h1>
                </div>
            </div>

            <div class="block-alt">
                <div class="container">
                <h2>C'est notre devoir citoyen de lutter contre</h2>
                <h2>la malgouvernance en l'exposant</h2>
                </div>
            </div>
        <!--</div>-->
    </section>
    <section id="projects">
        <div class="project-item">
            <div class="container">
                <h3><a href="/blog">Blog and Infographics</a></h3><br>
                <h4>Distilled data through succinct <strong>visualization</strong></h4>
                <p>We want to make our point through visually appealing infographics and less boring and lengthy text</p>
            </div>
        </div>
        <div class="project-item project-alt">
            <div class="container">
                <h3><a href="/incident">Incident Visualization</a></h3><br>
                <h4>Keeping track of <strong>recurring</strong> incidents</h4>
                <p>We want to answer questions such as "how many were injured in road accidents last month?"</p>
                <p>Or "what are the fire incidents during the current year"</p>
            </div>
        </div>
        <div class="project-item">
            <div class="container">
                <h3><a href="/kthesis">Kamerun Thesis Database</a></h3><br>
                <h4>Taking seriously our <strong>academic</strong> achievements</h4>
                <p>As we got an increase of universities and scholar, it's imperative to take of the hardwork with take</p>
            </div>
        </div>
        <div class="project-item project-alt">
            <div class="container">
                <h3><a href="/">Eseka Catastrophe</a></h3><br>
                <h4>We cannot keep waiting for <strong>official reports</strong></h4>
                <p>This is upcoming project will collect and display data from various sources in order to shed light</p>
                <p>on one of the most devastating catastrophes of Kamerun's history</p>
            </div>
        </div>
        <div class="project-item">
            <div class="container">
                <h3><a href="/">Kamerun History</a></h3><br>
                <h4>Under construction: Interactive history Project</h4>
                <p>Go back and forth throughout our history</p>
            </div>
        </div>
    </section>


{% endblock %}
{% block extra_js %}

{% endblock %}
