<ng-map center="[6.9182, 13.8516]" zoom="5">
    <marker ng-repeat="pos in clusterer.markerList"
            position="{{pos.latitude}},{{pos.longitude}}"
            label="'{{pos.icon.label}}'"
            icon="{{pos.icon}}"
            on-click="clusterer.onClick(pos)">
    </marker>

    <info-window id="foo-iw">
        <div >
          <!--what's happening: <br>-->
          <!--what's happening: <br>-->
          <!--what's happening: <br>-->
        </div>
    </info-window>

</ng-map>
<div class="promotion">
    <div class="container">
        <div class="col-xs-6 col-md-3"><p>Reported Incidents: {{incidentCount}}</p></div>
        <div class="col-xs-6 col-md-3"><p>Wounded: {{woundedCount}}</p></div>
        <div class="col-xs-6 col-md-3"><p>Deaths: {{deathsCount}}</p></div>
        <div class="col-xs-6 col-md-3"><p>Missing: {{missingCount||0}}</p></div>
    </div>
</div>
<div id="incident-filter" class="container">
    <div clas="row">
        <div class="col-xs-10 col-md-3">
            <div class="form-group">
                <select id="incidenttype" class="form-control" ng-model="typeSelected"

                        ng-options="type as type.name for type in incidentTypes"
                        ng-change="applyIncidentType()">
                    <option value="">Filter by Type</option>
                </select>
            </div>
        </div>

        <div class="col-xs-10 col-md-3">
            <div class="form-group">
            <input id="daterange"
                    date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
            options="{eventHandlers: {'apply.daterangepicker': applyDateRange}}"
            placeholder="Choose date range"/>
            </div>
        </div>
        <div class="col-xs-10 col-md-3">
            <div class="input-group">
            <!--<label for="orderType">Order by</label>-->
            <select id="orderType" class="form-control" ng-model="orderType" ng-change="orderTypeChanged()"
            ng-init="orderType=orderByList[0]">
                <option ng-repeat="order in orderByList" value="{{order}}">Order by: {{order}}</option>
            </select>
                <span class="input-group-addon">
                    <i class="{{orderIcon}}" ng-click="orderDirectionChanged()"></i>
                </span>

            </div>
        </div>
    </div>
</div>
<div class="container">

    <div ng-repeat="incident in incidents">
        <div class="incident row">
            <div class="col-xs-12 col-md-10">
                <div class="info col-xs-12 col-md-8">
                    <span class="title">{{incident.type.name}} </span>
                    <span class="address">{{incident.address}} </span>
                    <span class="date">{{incident.date| date: 'MMM dd, yyyy'}} </span>

                    <span>
                        <a href="{{incident.source}}" target="_blank">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </span>
                    <p>{{incident.description}}</p>
                </div>
                <div class="col-xs-4 col-md-1 casualties deaths" ng-switch="incident.deaths">
                    <h5>Deaths</h5>
                    <span ng-switch-when="0">&nbsp;</span>
                    <h3 ng-switch-default>{{incident.deaths}}</h3>
                </div>
                <div class="col-xs-4 col-md-1 casualties wounded" ng-switch="incident.wounded">
                    <h5>Wounded</h5>
                    <span ng-switch-when="0">&nbsp;</span>
                    <h3 ng-switch-default>{{incident.wounded}}</h3>
                </div>
                <div class="col-xs-4 col-md-1 casualties deaths" ng-switch="incident.missing">
                    <h5>Missing</h5>
                    <span ng-switch-when="0">&nbsp;</span>
                    <h3 ng-switch-default>{{incident.missing}}</h3>
                </div>

          </div>
        </div>
    </div>
<div class="container">
      <ul class="pagination" ng-show="pages.next || pages.previous ">

          <li ng-show="pages.previous">
            <a ng-click="gotoPage(pages.previous)">&laquo;</a>
          </li>

          <li ng-show="!pages.previous" class="disabled"><span>&laquo;</span></li>

          <!-- <li ng-repeat="ii in [pages.range_min.. pages.range_max]" class="active">
          <a ng-click="gotoPage(ii)">(current) {{ii}}</a>
          </li> -->


          <!-- {% for i in incidents.paginator.page_range %}
                      {% if incidents.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %} -->

            <li class="active"><span>{{ pages.page }}/{{pages.num_pages}} <span class="sr-only">(current)</span></span></li>

            <!-- <li><a href="?page={{ i }}">{{ pages.page }}</a></li> -->
          <li ng-show="pages.next"><a ng-click="gotoPage(pages.next)">&raquo;</a></li>

          <li ng-show="!pages.next" class="disabled"><span>&raquo;</span></li>
      </ul>

</div>

<!--<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpiyibjB8tK9rviFMyQYriE9X9wIFUQiM&callback=initMap">
</script>-->
